%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title Document
    %link{href: "style.css", rel: "stylesheet"}/
  %body
    .main
      .page1
        .page1-main
          %h1 Pc gaming is top and u must game it
          .page1-lincs
            %a{href: ""} about us
            %a{href: ""} news
            %a{href: ""} revives
            %a{href: ""} actriles
            %a{href: ""} future
          %button.page1-buttom_learnmore LEARN MORE
      .page2
        %img.page2-img{alt: "", src: "https://clck.ru/34RCLq"}/
        .page2-text
          %h1 Lorem ipsum dolor sit.
          %ul
            %li lorem
            %li imsum
            %li lozer